/*
 * v-enter-active : 要素の挿入前からアニメーション終了まで付与されるクラス
 * .v-leave-active : 削除のアニメーションの開始前から終了後まで付与されるクラス
*/
.v-enter-active, .v-leave-active {
    /* アニメーションの時間、イージングなどを設定 */
    transition: opacity 500ms ease-out;
}

/* 要素が挿入される前に付与され、アニメーション開始時に削除されるクラス */
.v-enter {
    /* フェードインの初期状態 */
    opacity: 0;
}

/* 挿入のアニメーションの開始時に付与され、アニメーション終了後に削除されるクラス */
.v-enter-to {
    /* フェードインの終了状態 */
    opacity: 1;
}

/* 削除のアニメーションの開始前に付与され、アニメーションの開始時に削除されるクラス */
.v-leave {
    /* フェードアウトの初期状態 */
    opacity: 1;
}

/* 削除のアニメーションの開始時に付与され、アニメーション終了時に削除されるクラス */
.v-leave-to {
    /* フェードアウトの終了状態 */
    opacity: 0;
}
