<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js SPAのサンプルアプリケーション</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script src="https://unpkg.com/vue-router@3.1.3"></script>
</head>
<body>
    <div id="app">
        <nav>
            <!-- router-link によるナビゲーション定義 -->
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧ページ</router-link>
            <router-link to="/users/new?redirect=true">新規ユーザー登録</router-link>
        </nav>
        <router-view></router-view>
    </div>
    <!-- 必要な分のコンポーネントのテンプレート定義 -->
    <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">読込中...</div>
            <div class="error" v-if="error">{{error}}</div>
            <!-- usersがロードされたら各ユーザーの名前を表示する -->
            <div v-for="user in users" :key="user.id">
                <h2>
                    <router-link :to="{ path: '/users/' + user.id }">{{user.name}}</router-link>
                </h2>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading" v-if="loading">読込中...</div>
            <div class="error" v-if="error">{{error}}</div>
            <div v-if="user">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="user-create">
        <div>
            <div class="sending" v-if="sending">Sending...</div>
            <div>
                <h2>新規ユーザー作成</h2>
                <div>
                    <label>名前:</label>
                    <input type="text" v-model="user.name">
                </div>
                <div>
                    <label>説明文:</label>
                    <textarea v-model="user.description"></textarea>
                </div>
                <div v-if="error" class="error">{{error}}</div>
                <div><input type="button" value="送信" @click="createUser"></div>
            </div>
        </div>
    </script>

    <!-- 任意のJS実装 -->
    <script>
        var userData = [
            {
                id: 1,
                name: 'Takuya Tejima',
                description: '東南アジアで働くエンジニアです。'
            },
            {
                id: 2,
                name: 'Yohei Noda',
                description: 'アウトドア・フットサルが趣味のエンジニアです。'
            }
        ]
        // JSONを返す関数。この関数を使って擬似的にWeb API経由で情報を取得したようにする
        var getUsers = function (callback) {
            setTimeout(function () {
                callback(null, userData)
            }, 1000)
        }
        var getUser = function (userId, callback) {
            setTimeout(function () {
                var filteredUsers = userData.filter(function (user) {
                    return user.id === parseInt(userId, 10)
                })
                callback(null, filteredUsers && filteredUsers[0])
            }, 1000)
        }
        var UserList = {
            // HTML上のscriptタグのidを指定する
            template: '#user-list',
            data: function () {
                return {
                    loading: false,
                    users: function () {
                        // 初期値は空配列
                        return []
                    },
                    error: null
                }
            },
            // 初期化時にデータを取得する。see. https://jp.vuejs.org/v2/api/#created
            created: function () {
                this.fetchData()
            },
            // watchはキーに監視する評価式、値が対応するコールバックをもつオブジェクト。
            // see. https://jp.vuejs.org/v2/api/#watch
            watch: {
                // ルーティングが変更されたときに再度データを取得
                '$route': 'fetchData'
            },
            methods: {
                fetchData: function () {
                    this.loading = true
                    // 取得したデータの結果をusersに格納する
                    // Function.prototype.bindはthisにスコープを渡すために利用
                    // see. https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Function/bind
                    getUsers((function (err, users) {
                        this.loading = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            }
        }
        var UserDetail = {
            template: '#user-detail',
            // 初期値のセット
            data: function () {
                return {
                    loading: false,
                    user: null,
                    error: null
                }
            },

            created: function () {
                this.fetchData()
            },

            watch: {
                '$route': 'fetchData'
            },

            methods: {
                fetchData: function () {
                    this.loading = true
                    getUser(this.$route.params.userId, (function (err, user) {
                        this.loading = false
                        if (err) {
                            this.error = error.toString()
                        } else {
                            this.user = user
                        }
                    }).bind(this))
                }
            }
        }

        // 擬似的にAPI経由で情報を更新したようにする
        // 実際はServerへPOSTリクエストを行う
        var postUser = function (params, callback) {
            setTimeout(function () {
                params.id = userData.length + 1
                userData.push(params)
                callback(null, params)
            }, 1000)
        }

        // 新規ユーザー作成コンポーネント
        var UserCreate = {
            template: '#user-create',
            data: function () {
                return {
                    sending: false,
                    user: this.defaultUser(),
                    error: null
                }
            },

            created: function () {
            },

            methods: {
                defaultUser: function () {
                    return {
                        name: '',
                        description: ''
                    }
                },

                createUser: function () {
                    // 入力パラメーターのバリデーション
                    if (this.user.name.trim() === '') {
                        this.error = 'Nameは必須です'
                        return
                    }
                    if (this.user.description.trim() === '') {
                        this.error = 'Descriptionは必須です'
                        return
                    }
                    postUser(this.user, (function (err, user) {
                        this.sending = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.error = null
                            this.user = this.defaultUser()
                            alert('新規ユーザーが登録されました')
                            this.$router.push('/users')
                        }
                    }).bind(this))
                }
            }
        }

        var router = new VueRouter({
            routes: [
                {
                    path: '/top',
                    component: {
                        template: '<div>トップページです。</div>'
                    }
                },
                {
                    path: '/users',
                    component: UserList
                },
                {
                    // /users/newは/users/:userIdより前である必要がある。
                    // なぜならば、順番が逆の場合、newが:userIdとして認識されるためである。
                    path: '/users/new',
                    component: UserCreate
                },
                {
                    path: '/users/:userId',
                    component: UserDetail
                }
            ]
        })

        var app = new Vue({
            router: router
        }).$mount('#app')
    </script>
</body>
</html>
