<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js SPAのサンプルアプリケーション</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script src="https://unpkg.com/vue-router@3.1.3"></script>
</head>
<body>
    <div id="app">
        <nav>
            <!-- router-link によるナビゲーション定義 -->
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧ページ</router-link>
        </nav>
        <router-view></router-view>
    </div>
    <!-- 必要な文のコンポーネントのテンプレート定義 -->
    <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">読込中...</div>
            <div class="error" v-if="error">{{error}}</div>
            <!-- usersがロードされたら各ユーザーの名前を表示する -->
            <div v-for="user in users" :key="user.id">
                <h2>{{user.name}}</h2>
            </div>
        </div>
    </script>

    <!-- 任意のJS実装 -->
    <script>
        // JSONを返す関数。この関数を使って擬似的にWeb API経由で情報を取得したようにする
        var getUsers = function (callback) {
            setTimeout(function () {
                callback(null, [
                    {
                        id: 1,
                        name: 'Takuya Tejima'
                    },
                    {
                        id: 2,
                        name: 'Yohei Noda'
                    }
                ])
            }, 1000)
        }
        var UserList = {
            // HTML上のscriptタグのidを指定する
            template: '#user-list',
            data: function () {
                return {
                    loading: false,
                    users: function () {
                        // 初期値は空配列
                        return []
                    },
                    error: null
                }
            },
            // 初期化時にデータを取得する。see. https://jp.vuejs.org/v2/api/#created
            created: function () {
                this.fetchData()
            },
            // watchはキーに監視する評価式、値が対応するコールバックをもつオブジェクト。
            // see. https://jp.vuejs.org/v2/api/#watch
            watch: {
                // ルーティングが変更されたときに再度データを取得
                '$route': 'fetchData'
            },
            methods: {
                fetchData: function () {
                    this.loading = true
                    // 取得したデータの結果をusersに格納する
                    // Function.prototype.bindはthisにスコープを渡すために利用
                    // see. https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Function/bind
                    getUsers((function (err, users) {
                        this.loading = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            }
        }

        var router = new VueRouter({
            routes: [
                {
                    path: '/top',
                    component: {
                        template: '<div>トップページです。</div>'
                    }
                },
                {
                    path: '/users',
                    component: UserList
                }
            ]
        })

        var app = new Vue({
            router: router
        }).$mount('#app')
    </script>
</body>
</html>
